nav {
    display: block;
    width: 100%;
}

nav ul {
    margin: 0em;
    padding: 0em;
}

nav ul li {
    display: block;
    float: left;
    width: 18%;
    padding: 0.5em;
}

nav ul {
    font-size: 1.25em;
    line-height: 2.25em;
    /*font-weight: bold;*/
    list-style-type: none;
}

nav {
    background-color: darkgreen;
}

nav ul li {
    background-color: darkgreen;
}

nav ul li:hover {
    background-color: green;
}

nav ul li a {
    color: orange;
    color: rgba(255,255,255,0.75);
    text-decoration: none;
}

nav ul li a:hover {
    color: grey;
}