/* COMC1745 Exercise 3A common styles */
header {
    color: black;
    background-color: darkslategray;
    text-align: center;
    width: 100%;
}

#headerImage {
    width: 100%;
}

#c1Image {
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}

h2 {
    color: black;
    text-shadow: 0 0 10px #A9A5A1, 0 0 10px #F07610;
}

h3 {
    text-shadow: 4px 4px 16px #F07610;
    ;
}

footer {
    color: black;
    background-color: slategray;
    text-align: center;
    width: 100%;
}

html {
    background-color: whitesmoke;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    /*background: url('../images/oldworkshop.jpg');*/
    background-attachment: inherit;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

    .container div {
        box-sizing: border-box;
        min-height: 150px;
        min-width: 150px;
    }

.c1 {
    color: black;
    background-color: slategray;
}

.c2 {
    color: black;
    background-color: slategray;
    /*border: dashed;*/
}

.c3 {
    color: black;
    background-color: lightsteelblue;
    /*border: dashed;*/
}

.c4 {
    color: black;
    background-color: lightsteelblue;
    /*border: dashed;*/
}

.c5 {
    color: black;
    background-color: lightsteelblue;
    /*border: dashed;*/
}

#bioPhoto {
    max-width: 100px;
    max-height: 100px;
    float: left;
}

figure {
    float: left;
    max-width: 200px;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin blue dashed;
    margin: 0.2em;
    padding: 15px;
}

/* COMC1745 Exercise 3A Column Drop styles */
.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.c1, .c2, .c3 {
    width: 100%;
}

.c1 {
    background-color: slategray;
}

.c2 {
    background-color: lightsteelblue;
}

.c3 {
    background-color: slategray;
}

@media (min-width: 600px) {
    .c1 {
        width: 60%;
        -webkit-order: 2;
        order: 2;

    }

    .c2 {
        width: 40%;
        -webkit-order: 1;
        order: 1;
        background-color: lightsteelblue;
    }

    .c3 {
        width: 100%;
        -webkit-order: 3;
        order: 3;
        background-color: lightsteelblue;
    }
}


@media (min-width: 800px) {
    .c1 {
        background-color: slategray;
    }
    
    .c2 {
        width: 20%;
        background-color: lightsteelblue;
    }

    .c3 {
        width: 20%;
    }
}