body {
    margin: 0;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container div {
    box-sizing: border-box;
    min-height: 150px;
    min-width: 150px;
}

.c1 {
    color: #ddd;
    background-color: #940015;
}

.c2 {
    color: #ddd;
    background-color: #00437a;
}

.c3 {
    color: #333;
    background-color: #940015;
}

.c4 {
    color: #333;
    background-color: #00437a;
}

.c5 {
    color: #333;
    background-color: #940015;
}

header {
    color: #ddd;
    background-color: #404040;
}

footer {
    color: #ddd;
    background-color: #404040;
}