body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-variant-caps: all-petite-caps;
}

nav ul li {
}

header {
    padding: 10px;
    text-align:center;
}

img {
    max-height: 300px;
    overflow: hidden;
}

audio {
    width: 100%;
}

body div p, h2, h4, audio {
    padding-left: 10px;
}

.c1, .c2, .c3, .c4, .c5 {
    background-color: white;
    color: #00437a;
}

.c1 {
    background-color: #eeeeee;
    color: #00437a;
}

table {
    width: 100%;
}

table th {
    text-align: center;
}

table td {
    width: 50%;
}

table td:first-of-type {
    text-align: center;
}

