.c1 {
    padding: 10px;
    width: 100%;
}

@media (min-width: 500px) {
    .c1 {
        padding: 20px;
        font-size: 1.5em;
    }
}

@media (min-width: 800px) {
    .c1 {
        padding: 40px;
        font-size: 2em;
    }
}

body {
    background-color: bisque;
}

header {
    color: black;
    text-align: center;
    background-color: lightcoral;
}

footer {
    color: black;
    background-color: lightcoral;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1{
    text-align:center;
}

.c1{
    background-color: antiquewhite;
    color: black;
}
