nav {
    display: block;
    width: 100%;
}

    nav ul {
        margin: 0em;
        padding: 0em;
    }

        nav ul li {
            display: block;
            float: left;
            width: 20%;
            padding: 0.5em;
        }

    nav ul {
        font-size: 1.25em;
        line-height: 2.25em;
        /*font-weight: bold;*/
        list-style-type: none;
    }

nav {
    background-color: FireBrick;
}

    nav ul li {
        background-color: FireBrick;
    }

        nav ul li:hover {
            background-color: silver;
        }

        nav ul li a {
            color: rgb(224,224,224);
            color: rgba(255,255,255,0.75);
            text-decoration: none;
        }

            nav ul li a:hover {
                color: rgb(255,255,255);
            }
