html {
    background-color:   beige;
}

/* Page Body Styles */
body {
    margin: 0.25em auto 0.25em auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
    /* Page Header Styles */
    body > header > img {
        display: block;
        width: 100%;
    }


img {
    width: 100%;
    display: block;
}

/* Heading Styles */

h1, h2, h3 {
    text-indent: 1em;
}

h1 {
    font-size: 2.4em;
    line-height: 2.4em;
    font-family: Champagne, cursive;
    letter-spacing: 0.3em;
    text-align: center;
    font-weight: normal;
    color: rgb(234, 229, 211);
}

h2, h3 {
    text-align: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 0.5em 0;
}

h2 {
    font-size: 1.3em;
    background-color: black;
    color: cornsilk;
}


h3 {
    font-size: 1.1em;
    background-color: DarkRed;
    color: cornsilk;
}


/* Paragraph Styles */

p {
    margin: 1em;
    font-size: 0.9em;
}

    p#first:first-of-type::first-letter {
        font-size: 4em;
        float: left;
        line-height: 0.8;
    }

/* Photo Styles */
.Photoright {
    width: 25%;
    padding: 10px;
    float: right;
    border: 2px solid #808080;
    margin: 10px 10px 10px 10px;
}

.c2 > p:nth-of-type(even) {
    color: darkslategrey;
}

.c2 > p:nth-of-type(odd) {
    font-weight: bold;
    color: black;
}
