.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.c1, .c2, .c3 {
    width: 100%;
}

@media (min-width: 600px) {
    .c1 {
        width: 60%;
        -webkit-order: 2;
        order: 2;
    }

    .c2 {
        width: 40%;
        -webkit-order: 1;
        order: 1;
    }

    .c3 {
        width: 100%;
        -webkit-order: 3;
        order: 3;
    }
}


@media (min-width: 800px) {
    .c2 {
        width: 20%;
    }

    .c3 {
        width: 20%;
    }
}

table {
    border: slategray thin solid;
    border-collapse: collapse;
    width: 100%;
}



td {
    border: darkblue thin solid;
}

thead th {
    background-color: lightblue;
    border: slategray thin solid;
}

tfoot {
    background-color: lightblue;
    color: darkblue;
}

tbody td {
    border: darkblue thin solid;
}

tbody tr:nth-of-type(odd) {
    background-color: lightgray;
}

col.rowLabel {
    background-color: lightgreen;
}

.firstCol {
    background-color: lightgreen;
}

.columns {
    column-count: 3;
    column-rule: 2px dashed darkslategray;
    column-gap: 30px;
    margin-top: 30px;
    widows: 3;
    orphans: 3;
    text-align: justify;
}
