
header {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}

#headerImage {
    width: 100%;
}

#c1Image {
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 10px;
}

html {
    background-color: whitesmoke;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-attachment: inherit;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

    .container div {
        box-sizing: border-box;
        min-height: 150px;
        min-width: 150px;
    }

.c1 {
    color: black;
    padding: 10px;
}

.c2 {
    color: black;
    padding: 10px;
}

.c3 {
    color: black;
    padding: 10px;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.c1, .c2, .c3 {
    width: 100%;
}

.c1 {
    background-color: white;
}

.c2 {
    background-color: black;
}

.c3 {
    background-color: black;
}

@media (min-width: 600px) {
    .c1 {
        width: 60%;
        -webkit-order: 2;
        order: 2;
    }

    .c2 {
        width: 40%;
        -webkit-order: 1;
        order: 1;
        background-color: lightsteelblue;
    }

    .c3 {
        width: 100%;
        -webkit-order: 3;
        order: 3;
        background-color: lightsteelblue;
    }
}


@media (min-width: 800px) {
    .c1 {
        background-color: slategray;
    }

    .c2 {
        width: 20%;
        background-color: lightsteelblue;
    }

    .c3 {
        width: 20%;
    }
}
