.c-all {
    display: flex;
    flex-flow: row wrap;
}
.c1, .c2, .c3 {
    float: left;
    padding-top: 64px;
}

@media (min-width: 0px) {
    .c1, .c2, .c3 {
        flex: 0 0 100%;
    }
}

@media (min-width: 600px) {
    .c1 {
        flex: 0 0 36%;
    }
    .c2 {
        flex: 0 0 64%;
    }
    .c3 {
        flex: 0 0 100%;
    }
}

@media (min-width: 800px) {
    .c1, .c2, .c3 {
        flex: 0 0 100%;
    }
    .c1 {
        flex: 0 0 25%;
    }
    .c2 {
        flex: 0 0 50%;
    }
    .c3 {
        flex: 0 0 25%;
    }
}