.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.c1, .c2 {
    width: 100%;
    background-color: antiquewhite;
}

@media (min-width: 600px) {
    .c2 {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .c1 {
        width: 50%;
    }

    .c2 {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* COMC 1745 Exercise 3A Styles */
header {
    width: 100%;
}

li {
    text-align: center;
}

footer {
    width: 100%;
    text-align: center;
}

#headerImage {
    height: 222px;
}

div {
    padding-left: 10px;
    padding-right: 10px;
}

.c1 p {
    text-align: center;
}